<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bargav.wallpaper" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/einss"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".music_service" />
        <activity android:name=".slides">
            <intent-filter>
                <action android:name="com.example.bargav.wallpaper.slides" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".sensor" android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>